In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
movies = pd.read_csv('movies.csv')
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [3]:
ratings = pd.read_csv('ratings.csv')
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

# Коллаборативная фильтрация (user-based)

In [4]:
ratings = ratings.sort_values('timestamp')

train = ratings.iloc[:-20000].copy()
test = ratings.iloc[-20000:].copy()

In [5]:
train.sort_values('timestamp')

       userId  movieId  rating   timestamp
66706     429      349     3.0   828124615
66711     429      421     4.0   828124615
66710     429      420     2.0   828124615
66718     429      592     5.0   828124615
66707     429      351     4.0   828124615
...       ...      ...     ...         ...
79613     495     6157     2.0  1458636454
79575     495     3825     2.0  1458636458
79569     495     3157     0.5  1458636467
79616     495     6383     3.0  1458636473
79507     495      173     0.5  1458636484

[80836 rows x 4 columns]

In [6]:
test.sort_values('timestamp')

       userId  movieId  rating   timestamp
79534     495     1405     0.5  1458636491
79535     495     1438     3.5  1458636501
79576     495     3826     3.5  1458636502
79506     495      160     3.0  1458636521
79537     495     1499     2.5  1458636525
...       ...      ...     ...         ...
81475     514   187031     2.5  1537674927
81477     514   187595     3.0  1537674946
81336     514     5247     2.5  1537757040
81335     514     5246     1.5  1537757059
81092     514      162     4.0  1537799250

[20000 rows x 4 columns]

In [8]:
## таблица для user-based подхода

pivot = train.pivot_table(index = 'movieId',
                      columns = 'userId',
                      values = 'rating')
corrs = pivot.corr()
corrs

userId,1,2,3,4,5,6,7,8,9,10,...,600,601,602,603,604,605,606,607,608,609
userId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,NaN,0.079819,0.207983,0.268749,-0.291636,-0.118773,0.469668,0.918559,-0.037987,...,0.253649,NaN,-1.597727e-16,-0.061503,-0.407556,-0.164871,0.066378,0.174557,0.268070,-0.175412
2,NaN,1.000000,NaN,NaN,NaN,NaN,-0.991241,NaN,NaN,0.037796,...,0.188982,NaN,NaN,-1.000000,NaN,NaN,0.583333,NaN,-0.125000,NaN
3,0.079819,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.104257,NaN,NaN,0.433200,NaN,NaN,-0.791334,-0.333333,-0.395092,NaN
4,0.207983,NaN,NaN,1.000000,-0.336525,0.148498,0.542861,0.117851,NaN,0.485794,...,0.128722,-0.333333,3.966413e-01,0.090090,-0.080296,0.400124,0.144603,0.116518,-0.170501,-0.277350
5,0.268749,NaN,NaN,-0.336525,1.000000,0.043166,0.158114,0.028347,NaN,-0.777714,...,0.178820,NaN,1.533034e-01,0.234743,0.067791,-0.364156,0.244321,0.231080,-0.020546,0.384111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,-0.164871,NaN,NaN,0.400124,-0.364156,0.100735,0.416186,-0.217405,0.158777,0.268684,...,0.143555,NaN,1.135147e-01,-0.105975,-0.365959,1.000000,0.167062,-0.299641,-0.075673,-0.550000
606,0.066378,0.583333,-0.791334,0.144603,0.244321,-0.049192,0.137771,0.253582,0.572700,-0.382955,...,0.283609,0.382733,1.406134e-01,0.318473,0.682949,0.167062,1.000000,0.114191,0.240842,0.533002
607,0.174557,NaN,-0.333333,0.116518,0.231080,0.255639,0.402792,0.251280,NaN,-0.241121,...,-0.226531,NaN,2.172105e-01,0.192787,0.035806,-0.299641,0.114191,1.000000,0.200814,0.190117
608,0.268070,-0.125000,-0.395092,-0.170501,-0.020546,0.125428,0.008081,0.434423,0.336625,-0.571043,...,0.107811,-0.023057,2.976461e-01,0.086423,0.053986,-0.075673,0.240842,0.200814,1.000000,0.488929
609,-0.175412,NaN,NaN,-0.277350,0.384111,0.193649,0.420288,0.141860,NaN,NaN,...,0.714920,NaN,1.885115e-01,0.343303,0.641624,-0.550000,0.533002,0.190117,0.488929,1.000000

In [10]:
corrs = (
    corrs
    .stack()
    .rename_axis(['userId1', 'userId2'])
    .reset_index()
)

corrs.columns = ['userId1', 'userId2', 'corr']
corrs = corrs[corrs['corr']>=0]
corrs

        userId1  userId2      corr
0             1        1  1.000000
1             1        3  0.079819
2             1        4  0.207983
3             1        5  0.268749
6             1        8  0.469668
...         ...      ...       ...
192255      609      604  0.641624
192257      609      606  0.533002
192258      609      607  0.190117
192259      609      608  0.488929
192260      609      609  1.000000

[130117 rows x 3 columns]

In [15]:
preds = []

for user in test['userId'].unique():

    if user in test['userId'].unique():
        part = test[test['userId']==user]
        neighbours = corrs[corrs['userId1'] == user]
        neighbour_users = neighbours['userId2'].unique()


        if neighbour_users.shape[0]==0:
            continue


        movies_ = part['movieId'].unique()

        train_part = train[train['userId'].isin(neighbour_users)]

        neighbour_means = train_part.groupby('userId')['rating'].mean()

        train_part = train_part[train_part['movieId'].isin(movies_)]

        train_part = pd.merge(train_part,
                             neighbours[['userId2', 'corr']],
                             right_on = 'userId2',
                             left_on = 'userId',
                             how = 'left')
        train_part['neighbour_means'] = train_part['userId2'].map(neighbour_means)
        train_part['diff'] = train_part['rating'] - train_part['neighbour_means']
        train_part['diff_dot_corr'] = train_part['diff'] * train_part['corr']

        user_mean = train[train['userId'] == user]['rating'].mean()

        upper_part = train_part.groupby('movieId')['diff_dot_corr'].sum()
        lower_part = train_part.groupby('movieId')['corr'].sum()
        
        predictions = upper_part / lower_part + user_mean
        predictions = predictions.reset_index()
        predictions.columns = ['movieId', 'prediction']
        predictions['userId'] = user
        
        preds.append(predictions)
        
preds = pd.concat(preds)

preds = pd.merge(
                    preds,
                    test[['userId', 'movieId', 'rating']],
                    on=['userId', 'movieId'],
                    how='left'
)

In [16]:
print(f"""Смогли дать предсказания только для {preds.shape[0]} 
          пар айтем-юзер из {test.shape[0]} тестовых""")

preds

Смогли дать предсказания только для 1125
          пар айтем-юзер из 20000 тестовых

      movieId  prediction  userId  rating
0         160    3.254725     495     3.0
1        1059    4.379525     495     5.0
2        1172    4.714483     495     5.0
3        1405    3.663485     495     0.5
4        1438    3.517763     495     3.5
...       ...         ...     ...     ...
1120   122886    4.360065      68     4.5
1121   122904    4.098191      68     4.0
1122   134130    3.431193      68     5.0
1123   139385    4.208013      68     3.0
1124   142488    4.208013      68     4.5

[1125 rows x 4 columns]

In [18]:
user_dsgs = []

for user in preds['userId'].unique():
    part = preds[preds['userId'] == user]
    part = part.sort_values('prediction', ascending = False)
    part = part.reset_index()
    user_dsg2 = (np.log2(part.index+1) * part.rating)[:2].sum()
    user_dsgs.append(user_dsg2)

print(f'Среднее DSG@2 по пользователям из теста равно: {np.mean(user_dsgs)}')

Среднее DSG@2 по пользователям из теста равно: 3.9444444444444446

# Контентный подход

In [3]:
data = pd.read_csv('movies.csv')
data

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [46]:
df = pd.merge(
    ratings,
    movies,
    on = 'movieId',
    how = 'left'
)
df.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [44]:
# df = df.sort_values('timestamp', ascending = False)

In [45]:
df

,userId,movieId,rating,timestamp,title,genres
81092,514,162,4.0,1537799250,Crumb (1994),Documentary
81335,514,5246,1.5,1537757059,Smokey and the Bandit II (1980),Action|Comedy
81336,514,5247,2.5,1537757040,Smokey and the Bandit (1977),Action|Comedy
81477,514,187595,3.0,1537674946,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi
81475,514,187031,2.5,1537674927,Jurassic World: Fallen Kingdom (2018),Action|Adventure|Drama|Sci-Fi|Thriller
...,...,...,...,...,...,...
66710,429,420,2.0,828124615,Beverly Hills Cop III (1994),Action|Comedy|Crime|Thriller
66705,429,343,3.0,828124615,"Baby-Sitters Club, The (1995)",Children
66712,429,432,3.0,828124615,City Slickers II: The Legend of Curly's Gold (...,Adventure|Comedy|Western
66711,429,421,4.0,828124615,Black Beauty (1994),Adventure|Children|Drama
66719,429,595,5.0,828124615,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX

In [35]:
import re
def find_num(st):
    nums_list = re.findall(r'\d+', st)
    if len(nums_list)>0:
        return nums_list[-1]
    return '0'

def filter_missing_data(num):
    if num>1900:
        return num
    return 2000

df['movieYear'] = df['title'].apply(lambda x: filter_missing_data(int(find_num(x))))

In [36]:
df

,userId,movieId,rating,timestamp,title,genres,movieYear
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance,1995
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller,1995
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995
...,...,...,...,...,...,...,...
100831,610,166534,4.0,1493848402,Split (2017),Drama|Horror|Thriller,2017
100832,610,168248,5.0,1493850091,John Wick: Chapter Two (2017),Action|Crime|Thriller,2017
100833,610,168250,5.0,1494273047,Get Out (2017),Horror,2017
100834,610,168252,5.0,1493846352,Logan (2017),Action|Sci-Fi,2017
100835,610,170875,3.0,1493846415,The Fate of the Furious (2017),Action|Crime|Drama|Thriller,2017

In [37]:
genres = set('|'.join(df['genres']).split('|'))
for genre in genres:
    df[genre] = 0
def mark_genre(row):
    curr_genres = row['genres'].split('|')
    for genre in curr_genres:
        row[genre] = 1
    return row

df = df.apply(lambda x: mark_genre(x), axis = 1)
df

,userId,movieId,rating,timestamp,title,genres,movieYear,Adventure,Fantasy,Animation,...,Thriller,Horror,Western,Drama,Sci-Fi,Children,Crime,War,Action,Romance
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,1,1,1,...,0,0,0,0,0,1,0,0,0,0
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance,1995,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller,1995,0,0,0,...,1,0,0,0,0,0,1,0,1,0
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995,0,0,0,...,1,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100831,610,166534,4.0,1493848402,Split (2017),Drama|Horror|Thriller,2017,0,0,0,...,1,1,0,1,0,0,0,0,0,0
100832,610,168248,5.0,1493850091,John Wick: Chapter Two (2017),Action|Crime|Thriller,2017,0,0,0,...,1,0,0,0,0,0,1,0,1,0
100833,610,168250,5.0,1494273047,Get Out (2017),Horror,2017,0,0,0,...,0,1,0,0,0,0,0,0,0,0
100834,610,168252,5.0,1493846352,Logan (2017),Action|Sci-Fi,2017,0,0,0,...,0,0,0,0,1,0,0,0,1,0
100835,610,170875,3.0,1493846415,The Fate of the Furious (2017),Action|Crime|Drama|Thriller,2017,0,0,0,...,1,0,0,1,0,0,1,0,1,0

In [38]:
df = df.drop('genres', axis = 1)

In [40]:
train_new = df.iloc[:-20000].copy()
test_new = df.iloc[-20000:].copy()

In [41]:
train_new

,userId,movieId,rating,timestamp,title,movieYear,Adventure,Fantasy,Animation,Musical,...,Thriller,Horror,Western,Drama,Sci-Fi,Children,Crime,War,Action,Romance
0,1,1,4.0,964982703,Toy Story (1995),1995,1,1,1,0,...,0,0,0,0,0,1,0,0,0,0
1,1,3,4.0,964981247,Grumpier Old Men (1995),1995,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,1,6,4.0,964982224,Heat (1995),1995,0,0,0,0,...,1,0,0,0,0,0,1,0,1,0
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),1995,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",1995,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80831,509,117529,3.5,1435996029,Jurassic World (2015),2015,1,0,0,0,...,1,0,0,1,1,0,0,0,1,0
80832,509,118997,2.5,1436000441,Into the Woods (2014),2014,0,1,0,1,...,0,0,0,0,0,1,0,0,0,0
80833,509,122892,4.0,1435997969,Avengers: Age of Ultron (2015),2015,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
80834,509,126142,4.0,1435998617,The Cave of the Golden Rose (1991),1991,1,1,0,0,...,0,0,0,0,0,1,0,0,0,0
80835,509,129229,2.0,1435997905,Northmen - A Viking Saga (2014),2014,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [47]:
user_count_views = train_new.groupby('userId').size()
user_means = train_new.groupby('userId')['rating'].mean()

train_new['userViews'] = train_new['userId'].map(user_count_views)
noise = np.random.normal(0, 0.1, [train_new.shape[0],])
train_new['userMeans'] = train_new['userId'].map(user_means)+noise

In [48]:
overall_views_mean = int(user_count_views.mean())
overall_ratings_mean = int(user_means.mean())
test_new['userViews'] = (
    test_new['userId']
    .map(user_count_views)
    .fillna(overall_views_mean)
)

test_new['userMeans'] = (
    test_new['userId']
    .map(user_means)
    .fillna(overall_ratings_mean)
)

In [49]:
train_new

,userId,movieId,rating,timestamp,title,movieYear,Adventure,Fantasy,Animation,Musical,...,Western,Drama,Sci-Fi,Children,Crime,War,Action,Romance,userViews,userMeans
0,1,1,4.0,964982703,Toy Story (1995),1995,1,1,1,0,...,0,0,0,1,0,0,0,0,232,4.348620
1,1,3,4.0,964981247,Grumpier Old Men (1995),1995,0,0,0,0,...,0,0,0,0,0,0,0,1,232,4.473947
2,1,6,4.0,964982224,Heat (1995),1995,0,0,0,0,...,0,0,0,0,1,0,1,0,232,4.366757
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),1995,0,0,0,0,...,0,0,0,0,0,0,0,0,232,4.372270
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",1995,0,0,0,0,...,0,0,0,0,1,0,0,0,232,4.273774
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80831,509,117529,3.5,1435996029,Jurassic World (2015),2015,1,0,0,0,...,0,1,1,0,0,0,1,0,463,3.229003
80832,509,118997,2.5,1436000441,Into the Woods (2014),2014,0,1,0,1,...,0,0,0,1,0,0,0,0,463,3.258755
80833,509,122892,4.0,1435997969,Avengers: Age of Ultron (2015),2015,1,0,0,0,...,0,0,1,0,0,0,1,0,463,3.056056
80834,509,126142,4.0,1435998617,The Cave of the Golden Rose (1991),1991,1,1,0,0,...,0,0,0,1,0,0,0,0,463,3.110362
80835,509,129229,2.0,1435997905,Northmen - A Viking Saga (2014),2014,1,0,0,0,...,0,0,0,0,0,0,1,0,463,3.156557

In [50]:
X_train = train_new.drop('rating', axis = 1)
y_train = train_new['rating']

X_test = test_new.drop('rating', axis = 1)
y_test = test_new['rating']