In [65]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

## Загрузим исходные данные

In [68]:
engine = create_engine(
    "postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
    "postgres.lab.karpov.courses:6432/startml"
)

user_query = "SELECT * FROM public.user_data"
user_data = pd.read_sql(user_query, engine)
user_data

,user_id,gender,age,country,city,exp_group,os,source
0,200,1,34,Russia,Degtyarsk,3,Android,ads
1,201,0,37,Russia,Abakan,0,Android,ads
2,202,1,17,Russia,Smolensk,4,Android,ads
3,203,0,18,Russia,Moscow,1,iOS,ads
4,204,0,36,Russia,Anzhero-Sudzhensk,3,Android,ads
...,...,...,...,...,...,...,...,...
163200,168548,0,36,Russia,Kaliningrad,4,Android,organic
163201,168549,0,18,Russia,Tula,2,Android,organic
163202,168550,1,41,Russia,Yekaterinburg,4,Android,organic
163203,168551,0,38,Russia,Moscow,3,iOS,organic
163204,168552,1,16,Russia,Ivanteyevka,4,Android,organic

In [69]:
post_query = "SELECT * FROM public.post_text_df"
post_data = pd.read_sql(post_query, engine)
post_data

      post_id                                               text     topic
0           1  UK economy facing major risks\n\nThe UK manufa...  business
1           2  Aids and climate top Davos agenda\n\nClimate c...  business
2           3  Asian quake hits European shares\n\nShares in ...  business
3           4  India power shares jump on debut\n\nShares in ...  business
4           5  Lacroix label bought by US firm\n\nLuxury good...  business
...       ...                                                ...       ...
7018     7315  OK, I would not normally watch a Farrelly brot...     movie
7019     7316  I give this movie 2 stars purely because of it...     movie
7020     7317  I cant believe this film was allowed to be mad...     movie
7021     7318  The version I saw of this film was the Blockbu...     movie
7022     7319  Piece of subtle art. Maybe a masterpiece. Doub...     movie

[7023 rows x 3 columns]

In [70]:
feed_query = "SELECT * FROM public.feed_data LIMIT 300000"
feed_data = pd.read_sql(feed_query, engine)
feed_data

                 timestamp  user_id  post_id action  target
0      2021-11-10 08:53:18    29418     1349   view       0
1      2021-11-10 08:55:12    29418     6406   view       0
2      2021-11-10 08:58:05    29418      636   view       1
3      2021-11-10 09:00:30    29418      636   like       0
4      2021-11-10 09:00:32    29418      284   view       0
...                    ...      ...      ...    ...     ...
299995 2021-12-23 15:18:44   136516     1866   view       0
299996 2021-12-23 15:21:19   136516     5653   view       0
299997 2021-12-23 15:22:51   136516      602   view       0
299998 2021-12-23 15:25:00   136516     6433   view       0
299999 2021-12-23 15:25:59   136516     2622   view       0

[300000 rows x 5 columns]

## Подготивим данные к обучению

In [71]:
# запись с лайками дублирует запись с просмотром, где таргет равен 1
# это означает, что после просмотра поста, пользователь лайкнул его
feed_data = feed_data[feed_data['action']!='like']
feed_data

                 timestamp  user_id  post_id action  target
0      2021-11-10 08:53:18    29418     1349   view       0
1      2021-11-10 08:55:12    29418     6406   view       0
2      2021-11-10 08:58:05    29418      636   view       1
4      2021-11-10 09:00:32    29418      284   view       0
5      2021-11-10 09:01:07    29418     5126   view       1
...                    ...      ...      ...    ...     ...
299995 2021-12-23 15:18:44   136516     1866   view       0
299996 2021-12-23 15:21:19   136516     5653   view       0
299997 2021-12-23 15:22:51   136516      602   view       0
299998 2021-12-23 15:25:00   136516     6433   view       0
299999 2021-12-23 15:25:59   136516     2622   view       0

[267436 rows x 5 columns]

In [72]:
# мы должны уметь предсказывать рекомендации для каждого пользователя
# значит, нам нужно оставить все user_id

df = pd.merge(
    user_data,
    feed_data,
    on = 'user_id',
    how = 'left'
)
df

,user_id,gender,age,country,city,exp_group,os,source,timestamp,post_id,action,target
0,200,1,34,Russia,Degtyarsk,3,Android,ads,NaT,NaN,NaN,NaN
1,201,0,37,Russia,Abakan,0,Android,ads,NaT,NaN,NaN,NaN
2,202,1,17,Russia,Smolensk,4,Android,ads,NaT,NaN,NaN,NaN
3,203,0,18,Russia,Moscow,1,iOS,ads,NaT,NaN,NaN,NaN
4,204,0,36,Russia,Anzhero-Sudzhensk,3,Android,ads,NaT,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
429974,168548,0,36,Russia,Kaliningrad,4,Android,organic,NaT,NaN,NaN,NaN
429975,168549,0,18,Russia,Tula,2,Android,organic,NaT,NaN,NaN,NaN
429976,168550,1,41,Russia,Yekaterinburg,4,Android,organic,NaT,NaN,NaN,NaN
429977,168551,0,38,Russia,Moscow,3,iOS,organic,NaT,NaN,NaN,NaN
429978,168552,1,16,Russia,Ivanteyevka,4,Android,organic,NaT,NaN,NaN,NaN

In [73]:
df = pd.merge(
    df,
    post_data,
    on = 'post_id',
    how = 'left'
)
df

,user_id,gender,age,country,city,exp_group,os,source,timestamp,post_id,action,target,text,topic
0,200,1,34,Russia,Degtyarsk,3,Android,ads,NaT,NaN,NaN,NaN,NaN,NaN
1,201,0,37,Russia,Abakan,0,Android,ads,NaT,NaN,NaN,NaN,NaN,NaN
2,202,1,17,Russia,Smolensk,4,Android,ads,NaT,NaN,NaN,NaN,NaN,NaN
3,203,0,18,Russia,Moscow,1,iOS,ads,NaT,NaN,NaN,NaN,NaN,NaN
4,204,0,36,Russia,Anzhero-Sudzhensk,3,Android,ads,NaT,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429974,168548,0,36,Russia,Kaliningrad,4,Android,organic,NaT,NaN,NaN,NaN,NaN,NaN
429975,168549,0,18,Russia,Tula,2,Android,organic,NaT,NaN,NaN,NaN,NaN,NaN
429976,168550,1,41,Russia,Yekaterinburg,4,Android,organic,NaT,NaN,NaN,NaN,NaN,NaN
429977,168551,0,38,Russia,Moscow,3,iOS,organic,NaT,NaN,NaN,NaN,NaN,NaN
429978,168552,1,16,Russia,Ivanteyevka,4,Android,organic,NaT,NaN,NaN,NaN,NaN,NaN

In [74]:
# заполним пропуски
df['timestamp'] = df['timestamp'].fillna(method = 'ffill').fillna(method = 'bfill')

most_popular_topic = df.describe(include = object)['topic'].loc['top']
df['topic'] = df['topic'].fillna(most_popular_topic)
df['target'] = df['target'].fillna(0).astype(int)

df

C:\Users\jackt\AppData\Local\Temp\ipykernel_1756\339350047.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['timestamp'] = df['timestamp'].fillna(method = 'ffill').fillna(method = 'bfill')

,user_id,gender,age,country,city,exp_group,os,source,timestamp,post_id,action,target,text,topic
0,200,1,34,Russia,Degtyarsk,3,Android,ads,2021-10-07 13:27:12,NaN,NaN,0,NaN,movie
1,201,0,37,Russia,Abakan,0,Android,ads,2021-10-07 13:27:12,NaN,NaN,0,NaN,movie
2,202,1,17,Russia,Smolensk,4,Android,ads,2021-10-07 13:27:12,NaN,NaN,0,NaN,movie
3,203,0,18,Russia,Moscow,1,iOS,ads,2021-10-07 13:27:12,NaN,NaN,0,NaN,movie
4,204,0,36,Russia,Anzhero-Sudzhensk,3,Android,ads,2021-10-07 13:27:12,NaN,NaN,0,NaN,movie
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429974,168548,0,36,Russia,Kaliningrad,4,Android,organic,2021-10-02 22:53:23,NaN,NaN,0,NaN,movie
429975,168549,0,18,Russia,Tula,2,Android,organic,2021-10-02 22:53:23,NaN,NaN,0,NaN,movie
429976,168550,1,41,Russia,Yekaterinburg,4,Android,organic,2021-10-02 22:53:23,NaN,NaN,0,NaN,movie
429977,168551,0,38,Russia,Moscow,3,iOS,organic,2021-10-02 22:53:23,NaN,NaN,0,NaN,movie
429978,168552,1,16,Russia,Ivanteyevka,4,Android,organic,2021-10-02 22:53:23,NaN,NaN,0,NaN,movie

In [75]:
# разобьем дату и удалим некоторые колонки - 'text', 'action', 'post_id'
df['hour'] = pd.to_datetime(df['timestamp']).apply(lambda x: x.hour)
df['day'] = pd.to_datetime(df['timestamp']).apply(lambda x: x.day)
df['month'] = pd.to_datetime(df['timestamp']).apply(lambda x: x.month)
df['post_id'] = df['post_id'].fillna(-1).astype(int)
df = df.drop(['text', 'action'], axis = 1)

In [76]:
df

,user_id,gender,age,country,city,exp_group,os,source,timestamp,post_id,target,topic,hour,day,month
0,200,1,34,Russia,Degtyarsk,3,Android,ads,2021-10-07 13:27:12,-1,0,movie,13,7,10
1,201,0,37,Russia,Abakan,0,Android,ads,2021-10-07 13:27:12,-1,0,movie,13,7,10
2,202,1,17,Russia,Smolensk,4,Android,ads,2021-10-07 13:27:12,-1,0,movie,13,7,10
3,203,0,18,Russia,Moscow,1,iOS,ads,2021-10-07 13:27:12,-1,0,movie,13,7,10
4,204,0,36,Russia,Anzhero-Sudzhensk,3,Android,ads,2021-10-07 13:27:12,-1,0,movie,13,7,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429974,168548,0,36,Russia,Kaliningrad,4,Android,organic,2021-10-02 22:53:23,-1,0,movie,22,2,10
429975,168549,0,18,Russia,Tula,2,Android,organic,2021-10-02 22:53:23,-1,0,movie,22,2,10
429976,168550,1,41,Russia,Yekaterinburg,4,Android,organic,2021-10-02 22:53:23,-1,0,movie,22,2,10
429977,168551,0,38,Russia,Moscow,3,iOS,organic,2021-10-02 22:53:23,-1,0,movie,22,2,10
429978,168552,1,16,Russia,Ivanteyevka,4,Android,organic,2021-10-02 22:53:23,-1,0,movie,22,2,10

In [77]:
# получили датафрейм без пропусков
df.isna().sum()

user_id      0
gender       0
age          0
country      0
city         0
exp_group    0
os           0
source       0
timestamp    0
post_id      0
target       0
topic        0
hour         0
day          0
month        0
dtype: int64

## Построение модели

In [78]:
# разделим данные на тренировочную и тестовую части по дате, 
# потому что тестирование будет на тех же пользователях, но в будущем

df_train = df[df.timestamp < '2021-12-15']
df_test = df[df.timestamp >= '2021-12-15']

# удалим дату, потому что мы её уже разбили
df_train = df_train.drop('timestamp', axis = 1)
df_test = df_test.drop('timestamp', axis = 1)

X_train = df_train.drop('target', axis = 1)
y_train = df_train['target']

X_test = df_test.drop('target', axis = 1)
y_test = df_test['target']

In [79]:
object_cols = df.loc[:, df.dtypes == object].columns.tolist()
object_cols

['country', 'city', 'os', 'source', 'topic']

In [80]:
from catboost import CatBoostClassifier

catboost = CatBoostClassifier(iterations = 500,
                             max_depth = 2,
                             learning_rate = 1)
catboost.fit(X_train, y_train, object_cols)

0:	learn: 0.2352465	total: 327ms	remaining: 2m 43s
1:	learn: 0.2309093	total: 447ms	remaining: 1m 51s
2:	learn: 0.2292155	total: 554ms	remaining: 1m 31s
3:	learn: 0.2285745	total: 650ms	remaining: 1m 20s
4:	learn: 0.2276365	total: 755ms	remaining: 1m 14s
5:	learn: 0.2274814	total: 876ms	remaining: 1m 12s
6:	learn: 0.2273652	total: 989ms	remaining: 1m 9s
7:	learn: 0.2270604	total: 1.09s	remaining: 1m 7s
8:	learn: 0.2267977	total: 1.18s	remaining: 1m 4s
9:	learn: 0.2265473	total: 1.27s	remaining: 1m 2s
10:	learn: 0.2264776	total: 1.37s	remaining: 1m 1s
11:	learn: 0.2263299	total: 1.49s	remaining: 1m
12:	learn: 0.2261861	total: 1.59s	remaining: 59.5s
13:	learn: 0.2259659	total: 1.71s	remaining: 59.4s
14:	learn: 0.2259063	total: 1.81s	remaining: 58.6s
15:	learn: 0.2257567	total: 1.9s	remaining: 57.5s
16:	learn: 0.2252212	total: 2s	remaining: 56.8s
17:	learn: 0.2251960	total: 2.12s	remaining: 56.7s
18:	learn: 0.2251471	total: 2.19s	remaining: 55.5s
19:	learn: 0.2251198	total: 2.29s	remaining: 54.9s
20:	learn: 0.2250940	total: 2.41s	remaining: 54.9s
21:	learn: 0.2250630	total: 2.52s	remaining: 54.7s
22:	learn: 0.2249609	total: 2.64s	remaining: 54.8s
23:	learn: 0.2247368	total: 2.75s	remaining: 54.6s
24:	learn: 0.2247125	total: 2.85s	remaining: 54.3s
25:	learn: 0.2245967	total: 2.98s	remaining: 54.4s
26:	learn: 0.2245814	total: 3.08s	remaining: 54s
27:	learn: 0.2245749	total: 3.17s	remaining: 53.4s
28:	learn: 0.2245748	total: 3.27s	remaining: 53.1s
29:	learn: 0.2245653	total: 3.38s	remaining: 53s
30:	learn: 0.2245634	total: 3.47s	remaining: 52.5s
31:	learn: 0.2245418	total: 3.57s	remaining: 52.3s
32:	learn: 0.2245150	total: 3.68s	remaining: 52.1s
33:	learn: 0.2245097	total: 3.79s	remaining: 51.9s
34:	learn: 0.2244959	total: 3.91s	remaining: 51.9s
35:	learn: 0.2244812	total: 4.02s	remaining: 51.8s
36:	learn: 0.2244577	total: 4.11s	remaining: 51.4s
37:	learn: 0.2244547	total: 4.2s	remaining: 51.1s
38:	learn: 0.2244496	total: 4.31s	remaining: 50.9s
39:	learn: 0.2244377	total: 4.4s	remaining: 50.6s
40:	learn: 0.2244370	total: 4.51s	remaining: 50.5s
41:	learn: 0.2244227	total: 4.61s	remaining: 50.3s
42:	learn: 0.2244161	total: 4.7s	remaining: 49.9s
43:	learn: 0.2243237	total: 4.81s	remaining: 49.9s
44:	learn: 0.2243050	total: 4.94s	remaining: 49.9s
45:	learn: 0.2241614	total: 5.03s	remaining: 49.6s
46:	learn: 0.2241449	total: 5.13s	remaining: 49.5s
47:	learn: 0.2241373	total: 5.22s	remaining: 49.2s
48:	learn: 0.2241352	total: 5.33s	remaining: 49.1s
49:	learn: 0.2241262	total: 5.43s	remaining: 48.9s
50:	learn: 0.2241199	total: 5.53s	remaining: 48.7s
51:	learn: 0.2240963	total: 5.64s	remaining: 48.6s
52:	learn: 0.2240553	total: 5.78s	remaining: 48.7s
53:	learn: 0.2240103	total: 5.87s	remaining: 48.5s
54:	learn: 0.2239826	total: 5.96s	remaining: 48.2s
55:	learn: 0.2239622	total: 6.13s	remaining: 48.6s
56:	learn: 0.2239175	total: 6.24s	remaining: 48.5s
57:	learn: 0.2239058	total: 6.34s	remaining: 48.4s
58:	learn: 0.2238914	total: 6.46s	remaining: 48.3s
59:	learn: 0.2238903	total: 6.57s	remaining: 48.2s
60:	learn: 0.2238888	total: 6.68s	remaining: 48.1s
61:	learn: 0.2238698	total: 6.78s	remaining: 47.9s
62:	learn: 0.2238653	total: 6.9s	remaining: 47.8s
63:	learn: 0.2238572	total: 7s	remaining: 47.7s
64:	learn: 0.2238120	total: 7.13s	remaining: 47.7s
65:	learn: 0.2237931	total: 7.22s	remaining: 47.5s
66:	learn: 0.2237875	total: 7.33s	remaining: 47.4s
67:	learn: 0.2237850	total: 7.46s	remaining: 47.4s
68:	learn: 0.2237735	total: 7.56s	remaining: 47.2s
69:	learn: 0.2237521	total: 7.67s	remaining: 47.1s
70:	learn: 0.2236143	total: 7.79s	remaining: 47.1s
71:	learn: 0.2234686	total: 7.89s	remaining: 46.9s
72:	learn: 0.2234152	total: 8.01s	remaining: 46.8s
73:	learn: 0.2233526	total: 8.12s	remaining: 46.7s
74:	learn: 0.2233096	total: 8.24s	remaining: 46.7s
75:	learn: 0.2233058	total: 8.37s	remaining: 46.7s
76:	learn: 0.2232555	total: 8.48s	remaining: 46.6s
77:	learn: 0.2232528	total: 8.61s	remaining: 46.6s
78:	learn: 0.2232193	total: 8.72s	remaining: 46.5s
79:	learn: 0.2232071	total: 8.83s	remaining: 46.4s
80:	learn: 0.2231914	total: 8.95s	remaining: 46.3s
81:	learn: 0.2231718	total: 9.06s	remaining: 46.2s
82:	learn: 0.2231530	total: 9.17s	remaining: 46.1s
83:	learn: 0.2231134	total: 9.28s	remaining: 45.9s
84:	learn: 0.2230671	total: 9.38s	remaining: 45.8s
85:	learn: 0.2230433	total: 9.49s	remaining: 45.7s
86:	learn: 0.2230351	total: 9.63s	remaining: 45.7s
87:	learn: 0.2230154	total: 9.74s	remaining: 45.6s
88:	learn: 0.2230081	total: 9.85s	remaining: 45.5s
89:	learn: 0.2229951	total: 9.95s	remaining: 45.3s
90:	learn: 0.2229807	total: 10.1s	remaining: 45.2s
91:	learn: 0.2229663	total: 10.2s	remaining: 45.1s
92:	learn: 0.2229577	total: 10.3s	remaining: 45s
93:	learn: 0.2229499	total: 10.4s	remaining: 44.9s
94:	learn: 0.2229345	total: 10.5s	remaining: 44.8s
95:	learn: 0.2229103	total: 10.6s	remaining: 44.6s
96:	learn: 0.2228998	total: 10.7s	remaining: 44.5s
97:	learn: 0.2228969	total: 10.8s	remaining: 44.5s
98:	learn: 0.2228957	total: 11s	remaining: 44.5s
99:	learn: 0.2228941	total: 11.1s	remaining: 44.3s
100:	learn: 0.2228828	total: 11.2s	remaining: 44.1s
101:	learn: 0.2228789	total: 11.3s	remaining: 44s
102:	learn: 0.2228667	total: 11.4s	remaining: 43.9s
103:	learn: 0.2228657	total: 11.5s	remaining: 43.8s
104:	learn: 0.2228510	total: 11.6s	remaining: 43.7s
105:	learn: 0.2228432	total: 11.7s	remaining: 43.5s
106:	learn: 0.2228410	total: 11.8s	remaining: 43.4s
107:	learn: 0.2228400	total: 11.9s	remaining: 43.3s
108:	learn: 0.2228377	total: 12.1s	remaining: 43.3s
109:	learn: 0.2228367	total: 12.2s	remaining: 43.1s
110:	learn: 0.2228162	total: 12.3s	remaining: 43s
111:	learn: 0.2227962	total: 12.4s	remaining: 42.9s
112:	learn: 0.2227807	total: 12.5s	remaining: 42.8s
113:	learn: 0.2227646	total: 12.6s	remaining: 42.7s
114:	learn: 0.2227485	total: 12.7s	remaining: 42.5s
115:	learn: 0.2227381	total: 12.8s	remaining: 42.4s
116:	learn: 0.2227366	total: 12.9s	remaining: 42.4s
117:	learn: 0.2227289	total: 13s	remaining: 42.2s
118:	learn: 0.2227285	total: 13.1s	remaining: 42.1s
119:	learn: 0.2227267	total: 13.3s	remaining: 42s
120:	learn: 0.2227247	total: 13.4s	remaining: 41.9s
121:	learn: 0.2227237	total: 13.5s	remaining: 41.8s
122:	learn: 0.2227094	total: 13.6s	remaining: 41.7s
123:	learn: 0.2226544	total: 13.7s	remaining: 41.6s
124:	learn: 0.2226477	total: 13.8s	remaining: 41.5s
125:	learn: 0.2226178	total: 13.9s	remaining: 41.4s
126:	learn: 0.2226155	total: 14.1s	remaining: 41.3s
127:	learn: 0.2225732	total: 14.2s	remaining: 41.2s
128:	learn: 0.2224747	total: 14.3s	remaining: 41.1s
129:	learn: 0.2224546	total: 14.4s	remaining: 40.9s
130:	learn: 0.2224278	total: 14.5s	remaining: 40.8s
131:	learn: 0.2224236	total: 14.6s	remaining: 40.7s
132:	learn: 0.2224219	total: 14.7s	remaining: 40.6s
133:	learn: 0.2223705	total: 14.8s	remaining: 40.5s
134:	learn: 0.2223594	total: 14.9s	remaining: 40.3s
135:	learn: 0.2223532	total: 15s	remaining: 40.2s
136:	learn: 0.2223529	total: 15.1s	remaining: 40.1s
137:	learn: 0.2223463	total: 15.2s	remaining: 40s
138:	learn: 0.2223456	total: 15.4s	remaining: 39.9s
139:	learn: 0.2223395	total: 15.5s	remaining: 39.8s
140:	learn: 0.2223246	total: 15.6s	remaining: 39.7s
141:	learn: 0.2223181	total: 15.7s	remaining: 39.6s
142:	learn: 0.2223132	total: 15.8s	remaining: 39.5s
143:	learn: 0.2223068	total: 15.9s	remaining: 39.4s
144:	learn: 0.2223000	total: 16s	remaining: 39.3s
145:	learn: 0.2222853	total: 16.1s	remaining: 39.1s
146:	learn: 0.2222776	total: 16.2s	remaining: 39s
147:	learn: 0.2222709	total: 16.4s	remaining: 38.9s
148:	learn: 0.2222187	total: 16.5s	remaining: 38.8s
149:	learn: 0.2221982	total: 16.6s	remaining: 38.7s
150:	learn: 0.2221815	total: 16.7s	remaining: 38.6s
151:	learn: 0.2221380	total: 16.8s	remaining: 38.4s
152:	learn: 0.2221110	total: 16.9s	remaining: 38.3s
153:	learn: 0.2220925	total: 17s	remaining: 38.2s
154:	learn: 0.2220813	total: 17.1s	remaining: 38s
155:	learn: 0.2220749	total: 17.2s	remaining: 37.9s
156:	learn: 0.2220733	total: 17.3s	remaining: 37.8s
157:	learn: 0.2220719	total: 17.4s	remaining: 37.7s
158:	learn: 0.2220680	total: 17.5s	remaining: 37.6s
159:	learn: 0.2220632	total: 17.6s	remaining: 37.4s
160:	learn: 0.2220571	total: 17.7s	remaining: 37.3s
161:	learn: 0.2220557	total: 17.8s	remaining: 37.1s
162:	learn: 0.2220511	total: 17.9s	remaining: 37s
163:	learn: 0.2220413	total: 18s	remaining: 36.8s
164:	learn: 0.2220378	total: 18.1s	remaining: 36.7s
165:	learn: 0.2220359	total: 18.1s	remaining: 36.5s
166:	learn: 0.2220335	total: 18.2s	remaining: 36.4s
167:	learn: 0.2220201	total: 18.3s	remaining: 36.2s
168:	learn: 0.2220129	total: 18.5s	remaining: 36.2s
169:	learn: 0.2220122	total: 18.6s	remaining: 36s
170:	learn: 0.2220079	total: 18.7s	remaining: 35.9s
171:	learn: 0.2220039	total: 18.8s	remaining: 35.8s
172:	learn: 0.2220038	total: 18.9s	remaining: 35.7s
173:	learn: 0.2220013	total: 19s	remaining: 35.6s
174:	learn: 0.2219985	total: 19.1s	remaining: 35.4s
175:	learn: 0.2219956	total: 19.2s	remaining: 35.3s
176:	learn: 0.2219944	total: 19.3s	remaining: 35.2s
177:	learn: 0.2219884	total: 19.4s	remaining: 35.1s
178:	learn: 0.2219856	total: 19.5s	remaining: 35s
179:	learn: 0.2219760	total: 19.6s	remaining: 34.9s
180:	learn: 0.2219707	total: 19.7s	remaining: 34.8s
181:	learn: 0.2219652	total: 19.8s	remaining: 34.7s
182:	learn: 0.2219649	total: 19.9s	remaining: 34.5s
183:	learn: 0.2219563	total: 20s	remaining: 34.4s
184:	learn: 0.2219553	total: 20.1s	remaining: 34.2s
185:	learn: 0.2219497	total: 20.2s	remaining: 34.2s
186:	learn: 0.2219417	total: 20.3s	remaining: 34s
187:	learn: 0.2219390	total: 20.4s	remaining: 33.9s
188:	learn: 0.2219305	total: 20.5s	remaining: 33.8s
189:	learn: 0.2219275	total: 20.7s	remaining: 33.7s
190:	learn: 0.2219145	total: 20.8s	remaining: 33.6s
191:	learn: 0.2219138	total: 20.9s	remaining: 33.5s
192:	learn: 0.2219014	total: 21s	remaining: 33.4s
193:	learn: 0.2218989	total: 21.1s	remaining: 33.2s
194:	learn: 0.2218981	total: 21.2s	remaining: 33.1s
195:	learn: 0.2218910	total: 21.2s	remaining: 33s
196:	learn: 0.2218901	total: 21.3s	remaining: 32.8s
197:	learn: 0.2218895	total: 21.4s	remaining: 32.7s
198:	learn: 0.2218889	total: 21.5s	remaining: 32.6s
199:	learn: 0.2218888	total: 21.6s	remaining: 32.5s
200:	learn: 0.2218823	total: 21.7s	remaining: 32.3s
201:	learn: 0.2218822	total: 21.8s	remaining: 32.2s
202:	learn: 0.2218808	total: 21.9s	remaining: 32s
203:	learn: 0.2218806	total: 22s	remaining: 31.9s
204:	learn: 0.2218726	total: 22.1s	remaining: 31.8s
205:	learn: 0.2218725	total: 22.2s	remaining: 31.7s
206:	learn: 0.2218401	total: 22.3s	remaining: 31.5s
207:	learn: 0.2218104	total: 22.4s	remaining: 31.4s
208:	learn: 0.2217901	total: 22.5s	remaining: 31.3s
209:	learn: 0.2217890	total: 22.6s	remaining: 31.2s
210:	learn: 0.2217811	total: 22.7s	remaining: 31.1s
211:	learn: 0.2217642	total: 22.8s	remaining: 31s
212:	learn: 0.2217463	total: 22.9s	remaining: 30.9s
213:	learn: 0.2217329	total: 23s	remaining: 30.8s
214:	learn: 0.2217236	total: 23.1s	remaining: 30.6s
215:	learn: 0.2217204	total: 23.2s	remaining: 30.5s
216:	learn: 0.2217067	total: 23.3s	remaining: 30.4s
217:	learn: 0.2216978	total: 23.4s	remaining: 30.3s
218:	learn: 0.2216744	total: 23.5s	remaining: 30.2s
219:	learn: 0.2216662	total: 23.6s	remaining: 30.1s
220:	learn: 0.2216642	total: 23.7s	remaining: 29.9s
221:	learn: 0.2216606	total: 23.8s	remaining: 29.8s
222:	learn: 0.2216466	total: 23.9s	remaining: 29.7s
223:	learn: 0.2216462	total: 24s	remaining: 29.6s
224:	learn: 0.2216409	total: 24.1s	remaining: 29.5s
225:	learn: 0.2216401	total: 24.3s	remaining: 29.4s
226:	learn: 0.2216290	total: 24.4s	remaining: 29.3s
227:	learn: 0.2216192	total: 24.4s	remaining: 29.2s
228:	learn: 0.2216085	total: 24.5s	remaining: 29s
229:	learn: 0.2216011	total: 24.6s	remaining: 28.9s
230:	learn: 0.2215720	total: 24.7s	remaining: 28.8s
231:	learn: 0.2215712	total: 24.8s	remaining: 28.7s
232:	learn: 0.2215633	total: 25s	remaining: 28.6s
233:	learn: 0.2215561	total: 25.1s	remaining: 28.5s
234:	learn: 0.2215458	total: 25.2s	remaining: 28.4s
235:	learn: 0.2215380	total: 25.3s	remaining: 28.2s
236:	learn: 0.2215286	total: 25.4s	remaining: 28.1s
237:	learn: 0.2215285	total: 25.4s	remaining: 28s
238:	learn: 0.2215244	total: 25.6s	remaining: 27.9s
239:	learn: 0.2215225	total: 25.7s	remaining: 27.8s
240:	learn: 0.2215116	total: 25.8s	remaining: 27.7s
241:	learn: 0.2214992	total: 25.9s	remaining: 27.6s
242:	learn: 0.2214941	total: 26s	remaining: 27.5s
243:	learn: 0.2214850	total: 26.1s	remaining: 27.4s
244:	learn: 0.2214783	total: 26.2s	remaining: 27.3s
245:	learn: 0.2214645	total: 26.3s	remaining: 27.2s
246:	learn: 0.2214644	total: 26.5s	remaining: 27.1s
247:	learn: 0.2214634	total: 26.6s	remaining: 27.1s
248:	learn: 0.2214559	total: 26.7s	remaining: 27s
249:	learn: 0.2214486	total: 26.8s	remaining: 26.8s
250:	learn: 0.2214415	total: 26.9s	remaining: 26.7s
251:	learn: 0.2214363	total: 27s	remaining: 26.6s
252:	learn: 0.2214298	total: 27.1s	remaining: 26.5s
253:	learn: 0.2214257	total: 27.2s	remaining: 26.3s
254:	learn: 0.2214253	total: 27.3s	remaining: 26.2s
255:	learn: 0.2214185	total: 27.4s	remaining: 26.1s
256:	learn: 0.2214115	total: 27.5s	remaining: 26s
257:	learn: 0.2214085	total: 27.6s	remaining: 25.8s
258:	learn: 0.2214035	total: 27.6s	remaining: 25.7s
259:	learn: 0.2214012	total: 27.7s	remaining: 25.6s
260:	learn: 0.2214001	total: 27.8s	remaining: 25.5s
261:	learn: 0.2213890	total: 27.9s	remaining: 25.4s
262:	learn: 0.2213876	total: 28.1s	remaining: 25.3s
263:	learn: 0.2213818	total: 28.2s	remaining: 25.2s
264:	learn: 0.2213817	total: 28.3s	remaining: 25.1s
265:	learn: 0.2213761	total: 28.4s	remaining: 25s
266:	learn: 0.2213723	total: 28.5s	remaining: 24.9s
267:	learn: 0.2213669	total: 28.6s	remaining: 24.7s
268:	learn: 0.2213614	total: 28.7s	remaining: 24.6s
269:	learn: 0.2213516	total: 28.7s	remaining: 24.5s
270:	learn: 0.2213512	total: 28.8s	remaining: 24.4s
271:	learn: 0.2213507	total: 28.9s	remaining: 24.2s
272:	learn: 0.2213412	total: 29s	remaining: 24.1s
273:	learn: 0.2213316	total: 29.1s	remaining: 24s
274:	learn: 0.2213312	total: 29.2s	remaining: 23.9s
275:	learn: 0.2213302	total: 29.3s	remaining: 23.8s
276:	learn: 0.2213240	total: 29.4s	remaining: 23.7s
277:	learn: 0.2213130	total: 29.5s	remaining: 23.5s
278:	learn: 0.2213090	total: 29.6s	remaining: 23.4s
279:	learn: 0.2213090	total: 29.7s	remaining: 23.3s
280:	learn: 0.2213040	total: 29.8s	remaining: 23.2s
281:	learn: 0.2213022	total: 29.9s	remaining: 23.1s
282:	learn: 0.2212957	total: 30s	remaining: 23s
283:	learn: 0.2212868	total: 30.1s	remaining: 22.9s
284:	learn: 0.2212775	total: 30.2s	remaining: 22.7s
285:	learn: 0.2212653	total: 30.3s	remaining: 22.6s
286:	learn: 0.2212622	total: 30.4s	remaining: 22.5s
287:	learn: 0.2212507	total: 30.5s	remaining: 22.4s
288:	learn: 0.2212390	total: 30.6s	remaining: 22.3s
289:	learn: 0.2212354	total: 30.7s	remaining: 22.2s
290:	learn: 0.2212345	total: 30.8s	remaining: 22.1s
291:	learn: 0.2212274	total: 30.9s	remaining: 22s
292:	learn: 0.2212213	total: 31s	remaining: 21.9s
293:	learn: 0.2212210	total: 31.1s	remaining: 21.8s
294:	learn: 0.2212155	total: 31.2s	remaining: 21.6s
295:	learn: 0.2212111	total: 31.2s	remaining: 21.5s
296:	learn: 0.2212087	total: 31.4s	remaining: 21.4s
297:	learn: 0.2212022	total: 31.5s	remaining: 21.3s
298:	learn: 0.2211927	total: 31.6s	remaining: 21.2s
299:	learn: 0.2211905	total: 31.7s	remaining: 21.1s
300:	learn: 0.2211852	total: 31.8s	remaining: 21s
301:	learn: 0.2211841	total: 31.9s	remaining: 20.9s
302:	learn: 0.2211808	total: 32s	remaining: 20.8s
303:	learn: 0.2211776	total: 32.1s	remaining: 20.7s
304:	learn: 0.2211767	total: 32.3s	remaining: 20.6s
305:	learn: 0.2211693	total: 32.4s	remaining: 20.5s
306:	learn: 0.2211629	total: 32.5s	remaining: 20.4s
307:	learn: 0.2211620	total: 32.6s	remaining: 20.3s
308:	learn: 0.2211532	total: 32.7s	remaining: 20.2s
309:	learn: 0.2211461	total: 32.8s	remaining: 20.1s
310:	learn: 0.2211449	total: 32.9s	remaining: 20s
311:	learn: 0.2211421	total: 33s	remaining: 19.9s
312:	learn: 0.2211397	total: 33.1s	remaining: 19.7s
313:	learn: 0.2211318	total: 33.2s	remaining: 19.6s
314:	learn: 0.2211237	total: 33.3s	remaining: 19.5s
315:	learn: 0.2211196	total: 33.4s	remaining: 19.4s
316:	learn: 0.2211122	total: 33.5s	remaining: 19.3s
317:	learn: 0.2211060	total: 33.6s	remaining: 19.2s
318:	learn: 0.2211018	total: 33.7s	remaining: 19.1s
319:	learn: 0.2210934	total: 33.8s	remaining: 19s
320:	learn: 0.2210918	total: 33.9s	remaining: 18.9s
321:	learn: 0.2210903	total: 34.1s	remaining: 18.8s
322:	learn: 0.2210856	total: 34.2s	remaining: 18.7s
323:	learn: 0.2210834	total: 34.3s	remaining: 18.6s
324:	learn: 0.2210830	total: 34.4s	remaining: 18.5s
325:	learn: 0.2210798	total: 34.5s	remaining: 18.4s
326:	learn: 0.2210711	total: 34.7s	remaining: 18.3s
327:	learn: 0.2210670	total: 34.8s	remaining: 18.2s
328:	learn: 0.2210625	total: 34.9s	remaining: 18.1s
329:	learn: 0.2210549	total: 35s	remaining: 18s
330:	learn: 0.2210431	total: 35.1s	remaining: 17.9s
331:	learn: 0.2210342	total: 35.2s	remaining: 17.8s
332:	learn: 0.2210284	total: 35.3s	remaining: 17.7s
333:	learn: 0.2210162	total: 35.4s	remaining: 17.6s
334:	learn: 0.2210085	total: 35.5s	remaining: 17.5s
335:	learn: 0.2210018	total: 35.6s	remaining: 17.4s
336:	learn: 0.2209988	total: 35.7s	remaining: 17.3s
337:	learn: 0.2209987	total: 35.8s	remaining: 17.2s
338:	learn: 0.2209986	total: 36s	remaining: 17.1s
339:	learn: 0.2209979	total: 36.1s	remaining: 17s
340:	learn: 0.2209936	total: 36.2s	remaining: 16.9s
341:	learn: 0.2209901	total: 36.3s	remaining: 16.8s
342:	learn: 0.2209896	total: 36.5s	remaining: 16.7s
343:	learn: 0.2209849	total: 36.6s	remaining: 16.6s
344:	learn: 0.2209771	total: 36.7s	remaining: 16.5s
345:	learn: 0.2209710	total: 36.8s	remaining: 16.4s
346:	learn: 0.2209701	total: 36.9s	remaining: 16.3s
347:	learn: 0.2209681	total: 37s	remaining: 16.2s
348:	learn: 0.2209674	total: 37.1s	remaining: 16.1s
349:	learn: 0.2209656	total: 37.2s	remaining: 16s
350:	learn: 0.2209545	total: 37.3s	remaining: 15.8s
351:	learn: 0.2209528	total: 37.4s	remaining: 15.7s
352:	learn: 0.2209492	total: 37.6s	remaining: 15.6s
353:	learn: 0.2209458	total: 37.7s	remaining: 15.5s
354:	learn: 0.2209415	total: 37.8s	remaining: 15.4s
355:	learn: 0.2209350	total: 37.9s	remaining: 15.3s
356:	learn: 0.2209321	total: 38s	remaining: 15.2s
357:	learn: 0.2209271	total: 38.1s	remaining: 15.1s
358:	learn: 0.2209196	total: 38.2s	remaining: 15s
359:	learn: 0.2209125	total: 38.3s	remaining: 14.9s
360:	learn: 0.2209066	total: 38.4s	remaining: 14.8s
361:	learn: 0.2209025	total: 38.5s	remaining: 14.7s
362:	learn: 0.2209010	total: 38.7s	remaining: 14.6s
363:	learn: 0.2208961	total: 38.8s	remaining: 14.5s
364:	learn: 0.2208960	total: 38.9s	remaining: 14.4s
365:	learn: 0.2208944	total: 39s	remaining: 14.3s
366:	learn: 0.2208939	total: 39.1s	remaining: 14.2s
367:	learn: 0.2208878	total: 39.3s	remaining: 14.1s
368:	learn: 0.2208859	total: 39.5s	remaining: 14s
369:	learn: 0.2208768	total: 39.6s	remaining: 13.9s
370:	learn: 0.2208757	total: 39.7s	remaining: 13.8s
371:	learn: 0.2208724	total: 39.8s	remaining: 13.7s
372:	learn: 0.2208671	total: 40s	remaining: 13.6s
373:	learn: 0.2208647	total: 40.1s	remaining: 13.5s
374:	learn: 0.2208641	total: 40.2s	remaining: 13.4s
375:	learn: 0.2208636	total: 40.3s	remaining: 13.3s
376:	learn: 0.2208553	total: 40.4s	remaining: 13.2s
377:	learn: 0.2208544	total: 40.6s	remaining: 13.1s
378:	learn: 0.2208530	total: 40.7s	remaining: 13s
379:	learn: 0.2208508	total: 40.8s	remaining: 12.9s
380:	learn: 0.2208504	total: 40.9s	remaining: 12.8s
381:	learn: 0.2208464	total: 41s	remaining: 12.7s
382:	learn: 0.2208444	total: 41.1s	remaining: 12.5s
383:	learn: 0.2208440	total: 41.2s	remaining: 12.4s
384:	learn: 0.2208395	total: 41.3s	remaining: 12.3s
385:	learn: 0.2208381	total: 41.4s	remaining: 12.2s
386:	learn: 0.2208362	total: 41.5s	remaining: 12.1s
387:	learn: 0.2208354	total: 41.6s	remaining: 12s
388:	learn: 0.2208295	total: 41.8s	remaining: 11.9s

In [81]:
from sklearn.metrics import roc_auc_score
print(f'Качество на тренировочной выборке roc_auc равно {roc_auc_score(y_train, catboost.predict_proba(X_train)[:, 1])}')
print(f'Качество на тестовой выборке roc_auc равно {roc_auc_score(y_test, catboost.predict_proba(X_test)[:, 1])}')

Качество на тренировочной выборке roc_auc равно 0.808330248792722
Качество на тестовой выборке roc_auc равно 0.8278404394002237

## Выполним преобразования данных для дальнейшего отбора M объектов

In [82]:
# Создадим словарь, где для каждого топика будет храниться список id постов по этому топику
sorted_posts = feed_data.groupby('post_id').sum('target').sort_values('target', ascending = False)
sorted_posts = pd.merge(sorted_posts,
                       post_data,
                       on = 'post_id',
                       how = 'left')
sorted_posts = sorted_posts[['post_id', 'topic']]
topics = sorted_posts['topic'].unique()
posts_by_topic = {}
for topic in topics:
    posts_by_topic[topic] = []
    
for post in sorted_posts.values:
    posts_by_topic[post[1]].append(post[0])

In [83]:
topics.shape

(7,)

In [84]:
post_topics = pd.merge(
    feed_data,
    post_data,
    on = 'post_id',
    how = 'left'
)
post_topics = post_topics[post_topics['target'] == 1]
post_topics = post_topics[['user_id', 'topic']]
post_topics

        user_id          topic
2         29418  entertainment
4         29418          movie
6         29418           tech
10        29418       business
17        29418       politics
...         ...            ...
267400    29435          sport
267403    29435          movie
267409    29435          covid
267419   136516          movie
267430   136516       politics

[32564 rows x 2 columns]

In [85]:
liked_topics_by_user = {}
for post in post_topics.values:
    user = post[0]
    post_topic = post[1]
    if user not in liked_topics_by_user:
        liked_topics_by_user[user] = {}
        for topic in topics:
            liked_topics_by_user[user][topic] = 1
    liked_topics_by_user[user][post_topic]+=1

In [104]:
def get_top_recommendations(user_id, users_df, posts_df, model, limit):
    POST_COUNT = 1400
    user = users_df[users_df['user_id'] == user_id].iloc[0]
    user_id = user['user_id']
    if user_id not in liked_topics_by_user:
        liked_topics_by_user[user_id] = {}
        for topic in topics:
            liked_topics_by_user[user_id][topic] = 1
    parts_count = 0
    for topic in topics:
        parts_count+=liked_topics_by_user[user_id][topic]

    all_posts = []

    for topic in topics:
        num_ids = liked_topics_by_user[user_id][topic] * POST_COUNT // parts_count
        for i in range(min(len(posts_by_topic[topic]),num_ids)):
            all_posts.append(posts_by_topic[topic][i])

    candidate_features = []
    for id_post in all_posts:
        post = posts_df[posts_df['post_id'] == id_post].iloc[0]
        features = {
            'user_id': user['user_id'],
            'gender': user['gender'],
            'age': user['age'],
            'country': user['country'],
            'city': user['city'],
            'exp_group': user['exp_group'],
            'os': user['os'],
            'source': user['source'],
            'post_id': post['post_id'],
            'topic': post['topic'],
            'hour': 21,
            'day': 7,
            'month': 11
        }
        candidate_features.append(features)
        
    candidates_df = pd.DataFrame(candidate_features)
    probabilities = np.array(model.predict_proba(candidates_df)[:, 1])
    
    top_indices = np.argpartition(probabilities, -limit)[-limit:]
    sorted_top_indices = top_indices[np.argsort(probabilities[top_indices])[::-1]]
    
    top_post_ids = [all_posts[ind] for ind in sorted_top_indices.tolist()]
    
    top_posts = posts_df[posts_df['post_id'].isin(top_post_ids)]
    return top_posts

In [118]:
user_id = 10000
top_recommendations = get_top_recommendations(user_id, user_data, post_data, catboost, 5)
type(top_recommendations)

pandas.core.frame.DataFrame

In [119]:
top_recommendations

      post_id                                               text  topic
6207     6467  Rating 10/10 Master pieceSome years ago, i hea...  movie
6929     7258  Maiden Voyage is just that. Id like to say str...  movie
6972     7262  Ko to tamo peva is the best comedy of all time...  movie
6973     7263  Im not sure what I can add that hasnt already ...  movie
6978     7268  Greenaway seems to have a habit of trying deli...  movie

## Напишем код для сохранения модели и загрузки модели

In [115]:
catboost.save_model(
    'catboost_model',
    format = 'cbm'
)

In [119]:
%save model_loading.py 118

File `model_loading.py` exists. Overwrite (y/[N])?   y

The following commands were written to file `model_loading.py`:
import os
import pickle
from catboost import CatBoostClassifier

def get_model_path(path: str) -> str:
    if os.environ.get("IS_LMS") == "1":
        MODEL_PATH = '/workdir/user_input/model'
    else:
        MODEL_PATH = path
    return MODEL_PATH

def load_models():
    model_path = get_model_path("/my/super/catboost_model")
    from_file = CatBoostClassifier()
    model = from_file.load_model(model_path, format = 'cbm')
    return model

In [118]:
import os
import pickle
from catboost import CatBoostClassifier

def get_model_path(path: str) -> str:
    if os.environ.get("IS_LMS") == "1":  
        MODEL_PATH = '/workdir/user_input/model'
    else:
        MODEL_PATH = path
    return MODEL_PATH

def load_models():
    model_path = get_model_path("/my/super/catboost_model")
    from_file = CatBoostClassifier()
    model = from_file.load_model(model_path, format = 'cbm')
    return model

## Напишем код для загрузки признаков

In [121]:
df

,user_id,gender,age,country,city,exp_group,os,source,timestamp,post_id,target,topic,hour,day,month
0,200,1,34,Russia,Degtyarsk,3,Android,ads,2021-11-17 13:31:06,-1,0,movie,13,17,11
1,201,0,37,Russia,Abakan,0,Android,ads,2021-11-17 13:31:06,-1,0,movie,13,17,11
2,202,1,17,Russia,Smolensk,4,Android,ads,2021-11-17 13:31:06,-1,0,movie,13,17,11
3,203,0,18,Russia,Moscow,1,iOS,ads,2021-11-17 13:31:06,-1,0,movie,13,17,11
4,204,0,36,Russia,Anzhero-Sudzhensk,3,Android,ads,2021-11-17 13:31:06,-1,0,movie,13,17,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430722,168548,0,36,Russia,Kaliningrad,4,Android,organic,2021-10-06 12:29:29,-1,0,movie,12,6,10
430723,168549,0,18,Russia,Tula,2,Android,organic,2021-10-06 12:29:29,-1,0,movie,12,6,10
430724,168550,1,41,Russia,Yekaterinburg,4,Android,organic,2021-10-06 12:29:29,-1,0,movie,12,6,10
430725,168551,0,38,Russia,Moscow,3,iOS,organic,2021-10-06 12:29:29,-1,0,movie,12,6,10
430726,168552,1,16,Russia,Ivanteyevka,4,Android,organic,2021-10-06 12:29:29,-1,0,movie,12,6,10

In [123]:
df.to_sql('bezyazychnyy_artem_features_lesson_22', 
          con=engine, 
          schema = 'public', 
          if_exists = 'replace') # записываем таблицу

727

In [131]:
%save feature_loading.py 130

File `feature_loading.py` exists. Overwrite (y/[N])?   y

The following commands were written to file `feature_loading.py`:
import pandas as pd
from sqlalchemy import create_engine

def load_features() -> pd.DataFrame:
    df = batch_load_sql('SELECT * FROM bezyazychnyy_artem_features_lesson_22')
    return df

def batch_load_sql(query: str) -> pd.DataFrame:
    CHUNKSIZE = 200000
    engine = create_engine(
        "postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
        "postgres.lab.karpov.courses:6432/startml"
    )
    conn = engine.connect().execution_options(stream_results=True)
    chunks = []
    for chunk_dataframe in pd.read_sql(query, conn, chunksize=CHUNKSIZE):
        chunks.append(chunk_dataframe)
    conn.close()
    return pd.concat(chunks, ignore_index=True)

In [130]:
import pandas as pd
from sqlalchemy import create_engine

def load_features() -> pd.DataFrame:
    df = batch_load_sql('SELECT * FROM bezyazychnyy_artem_features_lesson_22')
    return df
    
def batch_load_sql(query: str) -> pd.DataFrame:
    CHUNKSIZE = 200000
    engine = create_engine(
        "postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
        "postgres.lab.karpov.courses:6432/startml"
    )
    conn = engine.connect().execution_options(stream_results=True)
    chunks = []
    for chunk_dataframe in pd.read_sql(query, conn, chunksize=CHUNKSIZE):
        chunks.append(chunk_dataframe)
    conn.close()
    return pd.concat(chunks, ignore_index=True)