In [80]:
import pandas as pd

In [95]:
data = pd.read_csv('processed_data_with_new_features.csv')
data.head()

,id,vendor_id,passenger_count,store_and_fwd_flag,distance_km,log_trip_duration,anomaly,traffic_jam,day_of_week_1,day_of_week_2,...,hour_19,hour_20,hour_21,hour_22,hour_23,month_2,month_3,month_4,month_5,month_6
0,id2875421,1,930.399753,0,1.500479,6.122493,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,id2377394,0,930.399753,0,1.807119,6.498282,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,id3858529,1,NaN,0,6.392080,7.661527,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3,id3504673,1,NaN,0,1.487155,6.063785,0,0,0,1,...,1,0,0,0,0,0,0,1,0,0
4,id2181028,1,930.399753,0,1.189925,6.077642,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [96]:
print(f'{data.isna().sum()['passenger_count']}, {data.isna().sum()['distance_km']}')

145864, 145864

In [97]:
data.isna().sum()

id                         0
vendor_id                  0
passenger_count       145864
store_and_fwd_flag         0
distance_km           145864
log_trip_duration          0
anomaly                    0
traffic_jam                0
day_of_week_1              0
day_of_week_2              0
day_of_week_3              0
day_of_week_4              0
day_of_week_5              0
day_of_week_6              0
hour_1                     0
hour_2                     0
hour_3                     0
hour_4                     0
hour_5                     0
hour_6                     0
hour_7                     0
hour_8                     0
hour_9                     0
hour_10                    0
hour_11                    0
hour_12                    0
hour_13                    0
hour_14                    0
hour_15                    0
hour_16                    0
hour_17                    0
hour_18                    0
hour_19                    0
hour_20                    0
hour_21                    0
hour_22                    0
hour_23                    0
month_2                    0
month_3                    0
month_4                    0
month_5                    0
month_6                    0
dtype: int64

In [98]:
most_popular_passenger_count = data.groupby('passenger_count')['passenger_count'].count().sort_values(ascending = False).index[0]
most_popular_passenger_count

np.float64(930.3997532751514)

In [99]:
data['passenger_count'] = data['passenger_count'].fillna(most_popular_passenger_count)
data

,id,vendor_id,passenger_count,store_and_fwd_flag,distance_km,log_trip_duration,anomaly,traffic_jam,day_of_week_1,day_of_week_2,...,hour_19,hour_20,hour_21,hour_22,hour_23,month_2,month_3,month_4,month_5,month_6
0,id2875421,1,930.399753,0,1.500479,6.122493,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,id2377394,0,930.399753,0,1.807119,6.498282,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,id3858529,1,930.399753,0,6.392080,7.661527,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3,id3504673,1,930.399753,0,1.487155,6.063785,0,0,0,1,...,1,0,0,0,0,0,0,1,0,0
4,id2181028,1,930.399753,0,1.189925,6.077642,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1458639,id2376096,1,930.399753,0,1.226296,6.658011,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1458640,id1049543,0,930.399753,0,6.056935,6.486161,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1458641,id2304944,1,930.399753,0,7.832952,6.639876,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1458642,id2714485,0,930.399753,0,1.093786,5.924256,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1458643,id1209952,0,930.399753,0,1.135453,5.293305,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [112]:
columns_to_group = ['vendor_id','store_and_fwd_flag','traffic_jam',
                    'month_2','month_3','month_4','month_5','month_6']

mean_distance_values = data[~data.distance_km.isna()].groupby(columns_to_group)['distance_km'].mean()

In [113]:
mean_distance_values = mean_distance_values.reset_index()

['vendor_id',
 'store_and_fwd_flag',
 'traffic_jam',
 'month_2',
 'month_3',
 'month_4',
 'month_5',
 'month_6']

In [117]:
columns_to_group

['vendor_id',
 'store_and_fwd_flag',
 'traffic_jam',
 'month_2',
 'month_3',
 'month_4',
 'month_5',
 'month_6']

In [119]:
list(mean_distance_values.columns[:-1])

['vendor_id',
 'store_and_fwd_flag',
 'traffic_jam',
 'month_2',
 'month_3',
 'month_4',
 'month_5',
 'month_6']

In [120]:
new_data = pd.merge(
    data,
    mean_distance_values,
    left_on = list(columns_to_group),
    right_on = list(columns_to_group),
    how = 'left'
)

,id,vendor_id,passenger_count,store_and_fwd_flag,distance_km_x,log_trip_duration,anomaly,traffic_jam,day_of_week_1,day_of_week_2,...,hour_20,hour_21,hour_22,hour_23,month_2,month_3,month_4,month_5,month_6,distance_km_y
0,id2875421,1,930.399753,0,1.500479,6.122493,0,0,0,0,...,0,0,0,0,0,1,0,0,0,3.466395
1,id2377394,0,930.399753,0,1.807119,6.498282,0,0,0,0,...,0,0,0,0,0,0,0,0,1,3.463570
2,id3858529,1,930.399753,0,6.392080,7.661527,0,1,1,0,...,0,0,0,0,0,0,0,0,0,3.183494
3,id3504673,1,930.399753,0,1.487155,6.063785,0,0,0,1,...,0,0,0,0,0,0,1,0,0,3.468311
4,id2181028,1,930.399753,0,1.189925,6.077642,0,0,0,0,...,0,0,0,0,0,1,0,0,0,3.466395
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1458639,id2376096,1,930.399753,0,1.226296,6.658011,0,0,0,0,...,0,0,0,0,0,0,1,0,0,3.468311
1458640,id1049543,0,930.399753,0,6.056935,6.486161,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3.323767
1458641,id2304944,1,930.399753,0,7.832952,6.639876,0,0,0,0,...,0,0,0,0,0,0,1,0,0,3.468311
1458642,id2714485,0,930.399753,0,1.093786,5.924256,0,0,1,0,...,0,0,0,0,0,0,0,0,0,3.323767
1458643,id1209952,0,930.399753,0,1.135453,5.293305,0,0,1,0,...,0,0,0,0,0,0,1,0,0,3.389926

In [124]:
new_data['distance_km_x'] = new_data[
    new_data['distance_km_x'].isna()
]['distance_km_x'] = new_data['distance_km_y']
new_data = new_data.drop(['distance_km_y'], axis = 1)

In [126]:
data = new_data

In [139]:
my_answer = data.drop(['id'], axis = 1)
my_answer.to_csv('first.csv', sep = ';', index = False)

In [134]:
result = pd.read_csv('answer8',sep = ';')
result

,vendor_id,passenger_count,store_and_fwd_flag,distance_km,log_trip_duration,anomaly,traffic_jam,day_of_week_1,day_of_week_2,day_of_week_3,...,hour_19,hour_20,hour_21,hour_22,hour_23,month_2,month_3,month_4,month_5,month_6
0,1,930.399753,0,1.500479,6.122493,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0,930.399753,0,1.807119,6.498282,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,1,930.390000,0,6.392080,7.661527,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,930.390000,0,1.487155,6.063785,0,0,0,1,0,...,1,0,0,0,0,0,0,1,0,0
4,1,930.399753,0,1.189925,6.077642,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
5,1,1061.355223,0,1.100107,6.095825,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
6,0,1053.529749,0,1.327852,5.834811,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
7,1,930.399753,0,5.722427,7.347300,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
8,0,930.399753,0,1.311541,5.545177,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
9,1,930.399753,0,5.126939,7.111512,0,0,0,0,1,...,0,0,1,0,0,0,1,0,0,0
10,1,930.399753,0,3.810357,7.150701,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
11,1,1053.529749,0,3.777538,7.029088,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
12,1,1005.458335,0,1.861690,7.016610,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
13,1,930.399753,0,3.591088,5.564520,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,1
14,1,930.399753,0,6.390020,7.254885,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
15,0,930.399753,0,0.657433,5.356586,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
16,1,930.399753,0,3.468311,7.748029,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
17,0,930.399753,0,2.541503,6.595781,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
18,0,930.399753,0,4.610055,7.183871,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19,1,930.399753,0,1.304644,5.529429,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1