In [1]:
import pandas as pd
con_uri = "postgresql://robot-startml-ro:pheiph0hahj1Vaif@postgres.lab.karpov.courses:6432/startml"
df = pd.read_sql(
    """ 
    SELECT * 
    FROM "user" 
    LIMIT 10 
    """,
    con=con_uri
)
str(df.iloc[0]['id']) + " " + df.iloc[0]['city']

'200 Degtyarsk'

In [2]:
df_posts = pd.read_sql(
    """
    SELECT topic, COUNT(topic)
    FROM "post"
    GROUP BY topic
    ORDER BY LENGTH(topic) DESC
    """,
    con = con_uri
)
str(df_posts.shape[0]) + " " + df_posts.iloc[0]['topic']

'7 entertainment'

In [3]:
df_users = pd.read_sql(
    """
    SELECT id, city
    FROM "user"
    WHERE age>30 AND os = 'iOS'
    ORDER BY id
    """,
    con = con_uri
)
str(df_users.iloc[0]['id']) + " " + df_users.iloc[0]['city']

'212 Podolsk'

In [4]:
df_users = pd.read_sql(
    """
    SELECT *
    FROM "user"
    WHERE country != 'Russia' AND ((exp_group!=0 AND exp_group!=3) OR city = 'Minsk')
    """,
    con = con_uri
)
print([int(df_users.iloc[i]['id']) for i in range(4)])

[211, 213, 216, 218]

In [5]:
df_users = pd.read_sql(
    """
    SELECT country, AVG(age)
    FROM "user"
    GROUP BY country
    """,
    con = con_uri
)
df_users['avg'] = df_users['avg'].round(2)
cyprus_users_age = df_users[
    df_users['country'] == 'Cyprus'
]['avg']
float(cyprus_users_age.iloc[0])

28.07

In [6]:
df_users = pd.read_sql(
    """
    SELECT exp_group, os, COUNT(id) AS total_users, MAX(age) AS max_age, MIN(age) AS min_age
    FROM "user"
    GROUP BY exp_group, os
    """,
    con=con_uri
)
df_users.to_csv("group_users_prac6.csv", sep = ',', index = False)

In [7]:
check_df = pd.read_csv("group_users_prac6.csv")
check_df

   exp_group       os  total_users  max_age  min_age
0          0  Android        21234       95       14
1          0      iOS        11489       79       14
2          1  Android        21232       92       14
3          1      iOS        11406       87       14
4          2  Android        21102       78       14
5          2      iOS        11512       74       14
6          3  Android        21319       84       14
7          3      iOS        11449       85       14
8          4  Android        21085       84       14
9          4      iOS        11377       78       14

In [8]:
df_posts = pd.read_sql(
    """
    SELECT topic, MAX(LENGTH(text)) AS message_length
    FROM "post"
    GROUP BY topic
    ORDER BY message_length DESC
    """,
    con = con_uri
)
df_posts[
    df_posts['message_length']>25000
].iloc[0]['topic']

'politics'

In [9]:
df_users = pd.read_sql(
    """
    SELECT country, COUNT(country)
    FROM "user"
    GROUP BY country
    ORDER BY count
    """,
    con = con_uri
)
df_users[
    df_users['count'] > 1000
].iloc[0]['country']

'Azerbaijan'

In [36]:
df_users = pd.read_sql(
    """
    SELECT exp_group, AVG(age) as avg_age, COUNT(id) AS number_of_users
    FROM "user"
    WHERE city = 'Moscow'
    GROUP BY exp_group
    HAVING AVG(age) > 27.2
    """,
    con = con_uri
)
for i in range(df_users.shape[0]):
    print(int(df_users.iloc[i]['number_of_users']),end = ' ')

# print(f"{' '.join(int(df_users.iloc[i]['number_of_users']) for i in range(df_users.shape[0]))}")
# print([int(df_users.iloc[i]['number_of_users']) for i in range(df_users.shape[0])])

4414 4378

In [40]:
df_posts = pd.read_sql(
    """
    SELECT topic, COUNT(topic) as cnt
    FROM "post"
    GROUP BY topic
    ORDER BY cnt DESC
    """,
    con = con_uri
)
for i in range(3):
    print(df_posts.iloc[i]['topic'], end = ' ')
# print([df_posts.iloc[i]['topic'] for i in range(3)])

movie covid business

In [45]:
df_users = pd.read_sql(
    """
    SELECT *
    FROM "user"
    WHERE city = 'Voronezh'
    ORDER BY age DESC, exp_group 
    """,
    con = con_uri
)
int(df_users.iloc[1]['id'])

2441

In [63]:
df_join1 = pd.read_sql(
    """
    SELECT f.post_id, f.time, u.age, u.os
    FROM "feed_action" f
    JOIN "post" p ON f.post_id = p.id
    JOIN "user" u ON f.user_id = u.id
    WHERE u.city = 'Omsk' AND f.action = 'like'
    ORDER BY f.time DESC
    LIMIT 100
    """,
    con = con_uri
)

df_join1.to_csv('prac6_join1.csv', index = False, sep = ',')

In [77]:
df_join2 = pd.read_sql(
    """
    SELECT u.city, COUNT(u.id)
    FROM "feed_action" f
    JOIN "user" u ON f.user_id = u.id
    JOIN "post" p ON f.post_id = p.id
    WHERE u.age = 36 AND f.action = 'view' AND p.topic = 'covid' AND DATE(f.time) = '2021-12-01'
    GROUP BY u.city
    ORDER BY count
    """,
    con = con_uri
)
df_join2.iloc[0]['city']

'Arkhangelsk'

In [83]:
my_df = pd.read_sql(
    """
    SELECT p.id, COUNT(f.action), MAX(f.time)
    FROM "post" p
    JOIN "feed_action" f ON p.id = f.post_id
    WHERE f.action = 'like'
    GROUP BY p.id
    ORDER BY count DESC
    """,
    con = con_uri
)
for i in range(3):
    print(my_df.iloc[i]['id'],end = ' ')

4866 5127 6448